{% extends 'XideaUserBundle::base.html.twig' %}
{% block xidea_user_header_title %}
    {{ 'user_profile.title'|trans({'%username%':user.username}) }}
{% endblock %}
{% block xidea_user_main %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'user_profile.user_panel.title'|trans }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table panel-table table-bordered table-striped">
                        <colgroup>
                          <col class="">
                          <col class="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>{{ 'user.username'|trans }}</th>
                                <td>{{ user.username }} ({{ user.username }})</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}