{% form_theme form with '::fields.html.twig' %}
{{ form_start(form) }}
    <div class="form-errors">
        {{ form_errors(form) }}
        {#{{ form_errors(form.captcha) }}#}
    </div>
    <div class="form-group">
        {{ form_label(form.username, null, {'label_attr': {'class': 'sr-only'}}) }}
        <div class="controls">
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': form.username.vars.label}}) }}
            {{ form_errors(form.username) }}
        </div>
    </div>
    {% for field in form.plainPassword %}
        <div class="form-group">
            {{ form_label(field, null, {'label_attr': {'class': 'sr-only'}}) }}
            <div class="controls">
                {{ form_widget(field, { 'attr': {'class': 'form-control', 'placeholder': field.vars.label}}) }}
                {{ form_errors(field) }}
            </div>
        </div>
    {% endfor %}
    <p class="text-right">
        <input type="submit" value="{{ 'user_create.form.add'|trans }}" class="btn btn-primary" />
    </p>
    <p class="sr-only">
        {{ 'form.requiredFields'|trans({}, 'form')|raw }}
    </p>
{{ form_end(form) }}